/* Mobile */

@media screen and (max-width: 480px) {
    .container {
        height: calc(100vh - 50px);
        width: 100vw;
        position: fixed;
        transform: translate(-50%, -50%);
        top: calc(50% + 50px);
        left: 50%;
        background-color: #1f1f1f9c;
        z-index: 32766;
    }
    .modal_inner {
        height: 70%;
        width: 90%;
        background-color: #fff;
        border-radius: 10px;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
    }
    .modal_header {
        height: 70px;
        border-bottom: 1px solid #D5D5D5;
        padding: 0% 2%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: var(--primary);
    }
    .modal_title {
        font-weight: 600;
        font-size: .8em;
    }
    .modal_content {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 2%;
        height: calc(100% - 70px);
    }
    .table {
        height: 100%;
        width: 60%;
        display: flex;
        flex-direction: column;
    }
    .image_container {
        height: 100%;
        width: 40%;
        background-color: #D5D5D5;
        border-radius: 10px;
        margin-left: 2%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: .5em;
    }
}


/* Tablet */

@media screen and (min-width: 481px) and (max-width: 768px) {
    .container {
        height: calc(100vh - 100px);
        width: 100vw;
        position: fixed;
        transform: translate(-50%, -50%);
        top: calc(50% + 50px);
        left: 50%;
        background-color: #1f1f1f9c;
        z-index: 32766;
    }
    .modal_inner {
        height: 80%;
        width: 60%;
        background-color: #fff;
        border-radius: 10px;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
    }
    .modal_header {
        height: 70px;
        border-bottom: 1px solid #D5D5D5;
        padding: 0% 2%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: var(--primary);
    }
    .modal_title {
        font-weight: 600;
    }
    .modal_content {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 2%;
        height: calc(100% - 70px);
    }
    .table {
        height: 100%;
        width: 60%;
        display: flex;
        flex-direction: column;
    }
    .image_container {
        height: 100%;
        width: 40%;
        background-color: #D5D5D5;
        border-radius: 10px;
        margin-left: 2%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


/* Laptop */

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .container {
        height: calc(100vh - 100px);
        width: 100vw;
        position: fixed;
        transform: translate(-50%, -50%);
        top: calc(50% + 50px);
        left: 50%;
        background-color: #1f1f1f9c;
        z-index: 32766;
    }
    .modal_inner {
        height: 80%;
        width: 60%;
        background-color: #fff;
        border-radius: 10px;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
    }
    .modal_header {
        height: 70px;
        border-bottom: 1px solid #D5D5D5;
        padding: 0% 2%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: var(--primary);
    }
    .modal_title {
        font-weight: 600;
    }
    .modal_content {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 2%;
        height: calc(100% - 70px);
    }
    .table {
        height: 100%;
        width: 60%;
        display: flex;
        flex-direction: column;
    }
    .image_container {
        height: 100%;
        width: 40%;
        background-color: #D5D5D5;
        border-radius: 10px;
        margin-left: 2%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


/* Desktop */

@media screen and (min-width: 1024px) {
    .container {
        height: calc(100vh - 100px);
        width: 100vw;
        position: fixed;
        transform: translate(-50%, -50%);
        top: calc(50% + 50px);
        left: 50%;
        background-color: #1f1f1f9c;
        z-index: 32766;
    }
    .modal_inner {
        height: 80%;
        width: 60%;
        background-color: #fff;
        border-radius: 10px;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
    }
    .modal_header {
        height: 70px;
        border-bottom: 1px solid #D5D5D5;
        padding: 0% 2%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: var(--primary);
    }
    .modal_title {
        font-weight: 600;
    }
    .modal_content {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 2%;
        height: calc(100% - 70px);
    }
    .table {
        height: 100%;
        width: 60%;
        display: flex;
        flex-direction: column;
    }
    .image_container {
        height: 100%;
        width: 40%;
        background-color: #D5D5D5;
        border-radius: 10px;
        margin-left: 2%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}